@import "bootstrap";

//The basic text style
body {
  background-image: url(body-background.jpg)
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-weight: bold;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.table-responsive {
  box-shadow: 0px 0px 30px 5px #888888;
  margin-top: 80px;
  margin-bottom: 100px;
  padding: 0px;
}

.box-shadow {
  background-color: #ECF0F1;
  text-align: center;
  opacity: 0.8;
}

th {
  text-align: center;
}

// for header
header {
  background-image: url(body-background.jpg);
  box-shadow: 0px 3px 10px #888888;
}

.nav li {
  font-size: 1.1em;
  &:hover {
    color: black;
  }
}

#logo {
  float: left;
  margin-right: 10px;
  margin-left: 30px;
  vertical-align: middle;
  font-size: 2.5em;
  color: black;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  text-decoration: underline;
  &:hover {
    background-image: url(body-background.jpg);
    color: black;
    text-decoration: none;
  }
}

// the new-product page and edit-product
.margintop {
  margin-top: 150px;
  width: 300px;
  .btn-primary {
    height: 45px;
    font-size: 18px;
  }
}

#product_name {
  height: 45px;
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#product_price {
  height: 45px;
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

//
.start_time {
  font-weight: bold;
  font-size: 16px;
}

#order_start_time {
  height: 45px;
  font-size: 16px;
}

//footer
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-image: url(body-background.jpg);
  box-shadow: 0px -1px 10px #888888;
  .footer-text {
    padding-top: 20px;
    padding-right: 20px;
    font-size: 1.5em;
  }
}

.paginate-container {
  position: fixed;
  bottom: -30px;
  right: 5px;
  width: 100%;
  z-index: 1;

  text-align: center;
}
