@import "bootstrap";

//The basic text style
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-weight: bold;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

// for header
.nav li {
  font-size: 1.1em;
}

#logo {
  float: left;
  margin-right: 10px;
  margin-left: 30px;
  vertical-align: middle;
  font-size: 2.5em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  text-decoration: underline;
  &:hover {
    color: blue;
    text-decoration: none;
  }
}

// for orders and products page
.table-responsive {
  margin-top: 70px;
}

// the new-product page and edit-product
.center-block {
  margin-top: 150px;
  width: 300px;
  .btn-primary {
    height: 45px;
    font-size: 16px;
  }
}

#product_name {
  height: 45px;
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#product_price {
  height: 45px;
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

//
.start_time {
  font-weight: bold;
  font-size: 16px;
}

#order_start_time {
  height: 45px;
  font-size: 16px;
}

//
