<header class="navbar navbar-fixed-bottom navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "主页",    orders_path %></li>
          <li><%= link_to "菜单",    products_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>